@charset "UTF-8";

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}

body,
html {
  background-color: lightgray;
}

header {
  background-color: rgb(144, 144, 144);
}

header h1 {
  text-align: center;
  padding: 10px;
}

#burguer {
  background-color: rgb(56, 56, 56);
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px;
}
#burguer:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

menu {
  display: none;
}

menu ul {
  list-style-type: none;
}

menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
  background-color: rgb(71, 71, 71);
  text-align: center;
  border-top: 1px solid #000;
}

menu a:hover {
  background-color: rgb(100, 100, 100);
}

main {
  width: 90vw;
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
article h2 {
  text-align: center;
  margin-bottom: 20px;
}

article p {
  text-align: justify;
  margin-bottom: 15px;
  line-height: 1.6em;
  text-indent: 20px;
}

footer {
  background-color: rgb(144, 144, 144);

  padding: 10px;
  text-align: center;
}

footer p {
  font-size: 1.2em;
}

footer a {
  text-decoration: none;
  color: #0f0857;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
  color: #4a90e2;
}
